h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1 {
  font-size: 7em;
  margin-bottom: auto;
}

h2 {
  font-size: 4em;
}

#fourteen {
  color: #B565A7;
}

#fifteen, h2{
  color: #955251;
}
.cell{
  padding-bottom:100%;
  background-color: lightgrey;
  margin: 2px;
  border-radius: 15px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.cell.blue {
  background-color: #B565A7;
  transition: opacity .3s ease-out;
}

.cell.red {
  background-color: #955251;
  transition: opacity .3s ease-out;
}

/*  GRID OF FOUR   ============================================================================= */


.span_4_of_4 {
  width: 100%;
}

.span_3_of_4 {
  width: 74.6%;
}

.span_2_of_4 {
  width: 49.2%;
}

.span_1_of_4 {
  width: 23.8%;
  float: left;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
/*
@media only screen and (max-width: 480px) {
  .span_4_of_4 {
    width: 100%;
  }
  .span_3_of_4 {
    width: 100%;
  }
  .span_2_of_4 {
    width: 100%;
  }
  .span_1_of_4 {
    width: 100%;
  }
}*/